@model OrnekSite.Entity.Identity.UserPassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("CategoryList", "Home")
                <li style="border:0"> &nbsp;</li>
                @Html.Action("Summary", "Cart")
            </ul>
        </div>

        <div class="well well-small alert alert-warning cntr">
            <h2>50% Discount</h2>
            <p>
                only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
            </p>
        </div>
        <div class="well well-small"><a href="#"><img src="~/Content/Site/assets/img/paypal.jpg" alt="payment method paypal"></a></div>

        <a class="shopBtn btn-block" href="#">Öne Çıkan Ürünler<br><small>Click to view</small></a>
        <br>
        <br>
        @Html.Action("FeaturedProduct", "Home")

    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Anasayfa</a> <span class="divider">/</span></li>
            <li class="active">Şifre Değiştirme</li>
        </ul>
        <hr class="soft" />
        <div class="well">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken();
                @*@Html.HiddenFor(model => model.Id)*@

                <h3>Şifrenizi Değiştirebilirsiniz.</h3>

                <div class="control-group">
                    <label class="control-label" for="inputFname">Eski Şifre </label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Yeni Şifre </label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Yeni Şifre Tekrar </label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.ReNewPassword, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.ReNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                


                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="submitAccount" value="Kaydet" class="exclusive shopBtn">
                    </div>
                </div>

            }



        </div>




    </div>
</div>

